# API
PORT=8000 # Puerto de la API. Opcional. 8000 por defecto
DEV=true # Modo de desarrollo. Opcional. true por defecto

# Logs
LOG_DIR=logs # Directorio de logs. Opcional. './logs' por defecto
DEBUG=false # Modo de depuración. Opcional. false por defecto

# Database
DB_CONN=postgresql://user:pass@host:port/db_name  # String de conexión a la DB. Es obligatorio

# Auth
JWT_SECRET_KEY=super.secret.string  # Obligatorio. String para encriptar JWT. Recomendado 32 caracteres mínimo.
JWT_ALGORITHM=HS256  # Opcional. HS256 por defecto
JWT_EXPIRATION_TIME_IN_MINUTES=60  # Opcional. 60min por defecto
